#OS Cruft
.DS_Store
Thumbs.db

# Compiled class file
# Log files
*.log

# Archives
*.war
*.ear
# Misc
*.sso
.data

# Unwanted directories
classes/
deploy/
*.cdi_javac
Model/classes/
ViewController/classes/
Model/classes/.data/Model.cdi_javac


