body
{
  background-color: White;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}
h1
{
  color: navy;
  font-family: Arial, Helvetica, sans-serif;
  font-size: x-large;
  font-weight: bolder;
  text-transform: capitalize;
}
h2
{
  color: navy;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  font-weight: bolder;
  text-transform: capitalize;
}
h3
{
  color: navy;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  font-weight: lighter;
  text-transform: capitalize;
}

.customLayoutStyle{
    border-style:solid; 
    border-width:thin; 
    background-color:rgb(199,206,218); 
    border-color:rgb(198,198,198);
    margin-bottom:2px; 
    padding:5px; 
}
